.blade.test.stamp
.Building.lock
.sconsign.dblite
.arcconfig
blade-bin
build64_debug
build64_release/
prebuild.lock
sdk/sdk_package/
runtime/core*
thirdparty/boost/boost/
thirdparty/boost/lib64_debug
thirdparty/boost/lib64_release/
thirdparty/openssl/crypto/
thirdparty/openssl/*.h
thirdparty/openssl/include/
thirdparty/openssl/lib64_debug
thirdparty/openssl/lib64_release/
thirdparty/openssl/ssl/
thirdparty/krb5/lib64_release/
thirdparty/krb5/lib64_debug
thirdparty/krb5/include/
thirdparty/tensorflow/lib64_debug
thirdparty/tensorflow/lib64_release/libtensorflow_cc*
thirdparty/catboost/lib64_debug
thirdparty/jemalloc/lib64_release
thirdparty/jemalloc/lib64_debug
thirdparty/jemalloc/include
thirdparty/fbthrift/build/fbcode_builder/.gitignore
thirdparty/fbthrift/thrift/lib/java/.gitignore
thirdparty/fbthrift/thrift/lib/perl/.gitignore
thirdparty/mstch/.gitignore
thirdparty/rsocket-cpp/.gitignore
