# 
# 该文件是 entity_generator 脚本自动生成 entity 类定义
#
# 目前 entity_generator 支持 POD 类型、std::vector 、 enum class 、class 、unordered_map 类型
#
# 在 dynamic 转化规则定义：默认是属性名字的 驼峰写法，如：create_index 在 dynamic 结构中的 key 是 CreateIndex
# 如果有特殊的 key 要求可以通过注解 @SR 来指定key, 并且可以定义属性 optional 选项
#
# 关于容器全套的规则：
#
# 目前支持 vector, unordered_map, map 三个容器，但是不支持容器嵌套，容器里的值类型仅支持 class, enum, pod 三种类型
#
# key-value client
class Value
  int64_t create_index = 0
  int64_t modify_index = 0
  int64_t lock_index = 0
  int64_t flags = 0
  @SR(Session|optional)
  const std::string session
  const std::string key
  const std::string value

enumclass string AclType
  CLIENT
  MANAGEMENT

enumclass string CheckStatus
  UNKNOWN
  PASSING
  WARNING
  CRITICAL

enumclass int SelfLogLevel
  TRACE
  DEBUG
  INFO
  WARN
  ERR

# Acl
class NewAcl
  const std::string name
  const AclType type
  const std::string rules

class UpdateAcl
  const std::string id
  const std::string name
  const AclType type
  const std::string rules

class AclInfo
  int64_t create_index = 0
  int64_t modify_index = 0
  const std::string id
  const std::string name
  const AclType type
  const std::string rules

# agent client entity
class Check
  const std::string node
  const std::string check_id
  const std::string name
  const CheckStatus status
  const std::string notes
  const std::string output
  const std::string service_id
  const std::string service_name
  const std::vector<std::string> service_tags
  int64_t create_index = 0
  int64_t modify_index = 0

class Service
  const std::string id
  const std::string service
  const std::vector<std::string> tags
  const std::string address
  int port = 0

class Member
  const std::string name
  @SR(Addr)
  const std::string address
  int port = 0
  const "std::unordered_map<std::string, std::string>" tags
  int status = 0
  int protocol_min = 0
  int protocol_max = 0
  int protocol_cur = 0
  int delegate_min = 0
  int delegate_max = 0
  int delegate_cur = 0

class SelfConfig
  const std::string datacenter
  const std::string node_name
  const std::string revision
  bool server
  const std::string version

class SelfDebugConfig
  bool bootstrap
  const std::string data_dir
  const std::string dns_recursor
  const std::string dns_domain
  const SelfLogLevel log_level
  const std::string node_id
  const std::vector<std::string> client_addresses
  const std::string bind_address
  bool leave_on_term

class Self
  const SelfConfig config
  const SelfDebugConfig debug_config
  const Member member

class NewCheck
  const std::string id
  const std::string name
  const std::string service_id
  const std::string notes
  const std::string script
  const std::string http
  const std::string tcp
  const std::string docker_container_id
  const std::string shell
  const std::string interval
  const std::string timeout
  const std::string ttl
  const std::string deregister_critical_service_after
  const std::string tls_skip_verify
  const std::string status

class NewServiceCheck
  const std::string script
  const std::string interval
  const std::string ttl
  const std::string http
  const std::string tcp
  const std::string timeout
  const std::string deregister_critical_service_after
  const std::string tls_skip_verify
  const std::string status

class NewService
  const std::string id
  const std::string name
  const std::vector<std::string> tags
  const std::string address
  int port = 0
  bool enable_tag_override
  const NewServiceCheck check
  const std::vector<NewServiceCheck> checks
